/* organisation css:{

	POSITION + MARGIN, PADDING

	BORDERS

	BACKGROUND

	TEXT

	AUTRES

} */


/* ======================================  PAGE D'ACCEUIL ========================= */


/* ====================================== header ================================= */

html{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}


body{
	background-color:#07707e;
	width: 100%;
	height: 100vh;
}


.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}

.header{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 3.75%;
}

.logo-image{
	display: block;
	width: 196.5px;
	height:200px;
	margin: 40px 0;

	background-image: url("img/LOGO-blanc.png");

	cursor: pointer;
}


.navbar{
	height: 2em;
	width: calc(95% - 196.5px);

	border-radius: 5px;
	
	background-color:#fefff6;

	font-size: 50px;
	text-transform: uppercase;
	
	-webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
	
	        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);

}

.navbar-h1 {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.nav-bar-h1 span{
	font-size: 55px ;	
}


 /* ============================================   main  ======================== */ 


.main{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 50%;
	width: 100%;

	background-image: url(img/595349517_2000px-600px.png);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover ;
}

.petite-ecole,.ecole-secondaire,.ecole-internat{
	width:100%;
}

.main .btn {
	padding: 11px 25px;

	border-radius: 50px;

	background-color:rgba(212, 59, 87, 1);

	font-size: 27.5px;
	color: white;
	font-weight: 400;
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	
    -webkit-transition: all 0.3s ease 0s;
	
    -o-transition: all 0.3s ease 0s;
	
    transition: all 0.3s ease 0s;
	cursor:pointer;
	-webkit-box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
	        box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3); 
}

.main a:hover {
	-webkit-transform: scale(1.2, 1.2);
	    -ms-transform: scale(1.2, 1.2);
	        transform: scale(1.2, 1.2);
	-webkit-box-shadow: none;
	        box-shadow: none; 
}


 /* ======== TELEPHONE DESACTIVE ============== */ 

.display-none {
	display: none;
}


/* ====================================   footer  ================================ */ 

/* Dégradé:

	background: linear-gradient(90deg, rgb(62, 62, 122) 0%,
	rgba(76, 148, 142, 0.45) 50%, 
	rgba(2,0,36,1) 100%);
	*/



.footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 40px 0;
}

footer h3 {
	padding: 0 0 25px;

	font-size: 27.5px;
	color: #fefff6;
}


.footer div {
	height: 200px;
	text-align: center;
}

.footer p {
	font-size: 16.5px;
	font-weight: 300;
	line-height: 1.4em;
	color: #fefff6;
	font-family: 'Roboto Slab', serif;
}

.petite-ecole-contact, .ecole-secondaire-contact, .ecole-internat-contact {
	width: 100%;
}

.petite-ecole-contact {
	padding-left: 0%;
}

.petite-ecole-contact :last-child {
	padding: 20px 0;
}

.ecole-secondaire-contact :last-child {
	padding: 20px 0;
}

.ecole-secondaire-contact :last-child a {
	padding: 0;
}

.ecole-internat-contact {
	padding-right: 0%;
}

.ecole-internat-contact :last-child {
	padding: 20px 0;
}




/* mailto lien */

.ecole-secondaire-contact a {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 78, 78, 1)),  color-stop(5%, rgba(255, 78, 78, 1)), color-stop(5.01%, transparent));
	background: -o-linear-gradient(bottom, rgba(255, 78, 78, 1) 0%,  rgba(255, 78, 78, 1) 5%, transparent 5.01%);
	background: linear-gradient(to top, rgba(255, 78, 78, 1) 0%,  rgba(255, 78, 78, 1) 5%, transparent 5.01%);
	background-size: 0% 100%;
	background-repeat: no-repeat;

	font-size: 19.5px;
	color: var(--clic);

	-webkit-transition: background-size ease 0.3s;

	-o-transition: background-size ease 0.3s;

	transition: background-size ease 0.3s;
}

.ecole-secondaire-contact a:hover{
	background-size: 100% 100%;
}

 /* =============================  Téléphone  ============================== */ 




@media screen and (max-width: 1150px) {

/*	===============  header ================ */
	
	.header{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column nowrap;
		        flex-flow: column nowrap;
	}	
	
	.navbar {
	width: 100%;
	}

    .navbar-h1 {
		font-size:40px;
	}

	

	/* ===================  main ================ */
	
	.main .display-none {
		display: block;
		color: #fefff6;
	}

	.main{
		min-height: calc(100% - 380px);
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;

		background: none;
	}

	.main > div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
		-ms-flex-preferred-size: 33.33%;
		    flex-basis: 33.33%;
		text-align: center;
		margin: 30px 0 0;
	}

	.main h3 {
		padding: 25px 0;
		font-size: 35px;
	}


	.main p {
		font-size: 27.5px;
		line-height: 1.3em;
	}

	.main .btn {
	font-size: 40px;
	}

	.ecole-secondaire-contact a {
		font-size: 27.5px;
	}
	
   	/* ===== FOOTER ====== */

	.footer {
	display: none;
	}
}
